# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---
extends: default

rules:
  document-start: disable
  indentation: disable
  line-length: disable
    # max: 99
    # level: warning

  # Kubebuilder comments don't have leading space
  comments:
    require-starting-space: false

ignore: |
  .github/
  config/
  deployment/
  vendor
