# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---
core:
  cluster-api:
    namespace: "capi-system"
    version: ${CAPI_CORE_VERSION}
    createNamespace: true
bootstrap:
  k3s:
    namespace: "capk-system"
    version: ${CAPI_K3S_VERSION}
    providerUrl: ${CAPI_K3S_BOOTSTRAP_URL}
    # Note: The field providerUrl is still required even though it is not used by the K3s provider.
controlPlane:
  k3s:
    namespace: "capk-system"
    createNamespace: false
    version: ${CAPI_K3S_VERSION}
    providerUrl: ${CAPI_K3S_CONTROLPLANE_URL}
    # Note: The field providerUrl is still required even though it is not used by the K3s provider.
manager:
  featureGates:
    core:
      MachinePool: "true"
      ClusterResourceSet: "true"
      ClusterTopology: "true"
      RuntimeSDK: "false"
      MachineSetPreflightChecks: "true"
      MachineWaitForVolumeDetachConsiderVolumeAttachments: "true"
configSecret:
  namespace: capi-variables
  name: capi-variables
env:
  manager:
    - name: HTTP_PROXY
      value: ${HTTP_PROXY}
    - name: HTTPS_PROXY
      value: ${HTTPS_PROXY}
    - name: NO_PROXY
      value: ${NO_PROXY}
