# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

---

name: Cluster Tests Integration test CI Pipeline

on:
  pull_request:
    branches:
      - main
      - release-*
  workflow_dispatch:

permissions:
  contents: read

jobs:
  integration-smoke-test:
    permissions:
      contents: read
    runs-on: ubuntu-24.04-16core-64GB
    steps:
      - name: Checkout orch-ci repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          repository: open-edge-platform/orch-ci
          path: ci
          ref: "main"
          token: ${{ secrets.SYS_EMF_GH_TOKEN || github.token }}
          persist-credentials: false

      - name: Checkout cluster-tests
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          repository: open-edge-platform/cluster-tests
          path: cluster-tests
          ref: ${{ github.head_ref }}  # Checkout the branch that triggered the workflow to avoid detached HEAD
          token: ${{ secrets.SYS_EMF_GH_TOKEN || github.token }}
          persist-credentials: false

      - name: Bootstrap CI environment
        uses: ./ci/.github/actions/bootstrap
        with:
          gh_token: ${{ secrets.SYS_EMF_GH_TOKEN || github.token }}

      - name: Run make test with additional config
        run: |
          cd cluster-tests
          make test
